.container{
	width: 80%;
	margin: auto;
	overflow: hidden;

}
#h1{
    background-color: orangered;
    width: 80%;
    margin: auto;
	color: white;
	text-align: center;

}
#navbar li{

  display: inline;
list-style: none;	


}
#navbar a{
	text-decoration: none;

	color: white;
	padding-right: 100px;
}
#navbar{


	background-color: #333;
	width: 80%;
	margin: auto;




}


li{
	text-transform: lowercase;
		width: 80%;
	margin: auto;
	
}
a:hover{
	background-color: blue;
